body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f4f4;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: rgb(10, 120, 245);
}

a:hover {
  color: black;
}

ul {
  list-style: none;
}

.h-title {
  text-align: center;
  margin-top: 1em;
}

.navbar-menu {
  display: inline-flex;
  flex-direction: row;
}

.navbar-menu li {
  margin-right: 1em;
}


.navbar { 
  height: 5em;
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 6px;
  background: linear-gradient(145deg, #ffffff, #d8dcdc);
  box-shadow:  17px 17px 34px #cacdcd,
              -17px -17px 34px #ffffff;
}

.navbar-login {
  align-items: baseline;
}

.small-question-card {
  display: inline-block;
  margin: .5em;
  justify-content: center;
  width: 20em;

  border-radius: 6px;
  background: linear-gradient(145deg, #d8dcdc, #ffffff);
  box-shadow:  7px 7px 14px #e6eaea,
              -7px -7px 14px #fafefe;
}

.small-question-card-content {
  text-align: center;
  padding: 1em;
}

.btn-action {
  width: 200px;
  align-self: center;
  font-size:medium;
  cursor: pointer;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 0;
  border-radius: 1px;
  background: linear-gradient(1deg, #3afda8, #31d48d);
  box-shadow:  -1px 1px 1px #35ea9b,
               1px -1px 6px #37ee9f;
}

.btn-action:active {
  border-radius: 1px;
  background: linear-gradient(225deg, #31d48d, #3afda8);
  box-shadow:  -1px 1px 1px #35ea9b,
               1px -1px 6px #37ee9f;
}

.btn-action:hover {
  color: rgb(232, 244, 247);
  border-radius: 1px;
  background: linear-gradient(225deg, #3ac3fd, #31a4d4);
  box-shadow:  -1px 1px 1px #35b4ea,
              1px -1px 6px #37b8ee;
}

.poll-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.poll-options {
  justify-content: center;
  display: flex;
}

.poll-options-new {
  justify-content: center;
  display: flex;
}

.option {
  width: 25em;
  margin: .5em;
  padding: .5em;
  word-wrap: break-word;
  border-radius: 1px;
  background: #e8f3f8;
  box-shadow:  -9px 9px 15px #d3dde2,
              9px -9px 15px #fdffff;
              
}

label {
  display: block;
}

.option-new {
  margin: .2em;
  padding: .2em;
  word-wrap: break-word;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: .1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


.btn-pressed {
  font-size:medium;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 0;
  border-radius: 1px;
  background: linear-gradient(225deg, #9f506b, #bd5f7f);
  box-shadow:  -1px 1px 1px #ac5673,
               1px -1px 1px #b65c7b;
}

.btn-action:disabled {
  cursor:auto;
  pointer-events: none;
  border-radius: 1px;
  background: #aaa7a8;
  box-shadow: inset -5px 5px 3px #a5a2a3,
              inset 5px -5px 3px #afacad;
}

.dashboard {
  text-align: center;
}

.h-title {
  margin-top: 2em;
}

.poll-page-choice {
  align-self: center;
  width: 90%;
  color: #0c2b38;
  font-size: large;
  margin-top: 2em;
  padding-top: 2em;
  border-color: #31a4d4;
  border-top: 1px solid #c4bebe;
}

.new-question-page {
  justify-content: center;
  text-align: center;
}

input {
  height: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: medium;
  font-weight: bold;
  padding-right: .4em;
  padding-left: .4em;
}

.nav-avatar {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: end;
  padding-right: 1em;
}

.nav-avatar img {
  margin-right: .5em;
}

.nav-username {
  text-align: center;
  justify-content: center;
  align-self: center;
}

#leaderboard-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

#leaderboard-table td, #leaderboard-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.td-name {
  text-align: right;
  width: 250px;
}

#leaderboard-table tr:nth-child(even){background-color: #f2f2f2;}

#leaderboard-table tr:hover {background-color: #ddd;}

#leaderboard-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e3ebe7;
  color: rgb(31, 30, 30);
}

.leaderboard-user-card {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.leaderboard-img {
  margin-right: .5em;
}

.leaderboard-name {
  font-weight: 600;
}

.leaderboard-id {
  color: gray;
}